<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <br><h3>Liste des Syndic</h3><br></div>
  
    <div class="panel-body">
        
       <form #f="ngForm" (ngSubmit)="Onchercher(f.value)">
            <div class="form-group">
            <label>Mot Clé  </label>
            <input type="text"  name="mot_cle" ngModel>
            <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span> Chercher</button>
            </div>
        </form>
        <br>

     <table *ngIf="syndicList" class="table table-striped">
  <tr>
  
   <th>CodeSyndic</th><th>Nom</th><th>Prénom</th><th>Adresse</th><th>Email</th><th>Téléphone</th><th>Civilité</th><th>Date</th><th>Role</th><th></th><th></th>
  
  <tr *ngFor="let syndic of syndicList">
  
    <td>{{syndic.CodeSyndic}}</td>
    <td>{{syndic.NomS}}</td>
    <td>{{syndic.PrenomS}}</td>
    <td>{{syndic.AdresseS}}</td>
    <td>{{syndic.EmailS}}</td>
    <td>{{syndic.NumtelS}}</td>
    <td>{{syndic.CiviliteS}}</td>
    <td>{{syndic.dateNaissanceS}}</td>
    <td>{{syndic.Role}}</td>
    <td><a class="btn btn-danger" (click)=" onDeleteSyndic(syndic.CodeSyndic)">Supprimer </a></td>
    <td><a class="btn btn-success"(click)="onEditSyndic(syndic.CodeSyndic)" >Modifier </a></td>
  </tr>
  
    
  </table>
  
    </div>
  
  </div>
  
  </div>