<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Lots</h1>
  </div>
  <div class="panel-body">
    <div class="col-md-9 colsm-6 col-xs-12">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>CodeLot</th>
                  <th>Batiment</th>
                  <th>Type</th>
                  <th>Surface</th>
                  <th>Porte</th>
                  <th>Etage</th>
                  <th>Nbr_pièces</th>
                  <th>Commentaires</th>
                  <th>Manage</th>
                  
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let lot of lots ">
                  <td>{{lot.codeLot}}</td>
                  <td>{{lot.batiment}}</td>
                  <td>{{lot.type}}</td>
                  <td>{{lot.surface}}</td>
                  <td>{{lot.porte}}</td>
                  <td>{{lot.etage}}</td>
                  <td>{{lot.nbre_pieces}}</td>
                  <td>{{lot.commentaires}}</td>
                  
                  <td><button class="btn btn-danger" (click)="onDeletelot(lot.codeLot)">Delete</button>
                    <button class="btn btn-info"  style="margin-left: 30px" (click)="onUpdateLot(lot.codeLot)">Update</button></td>
                  
              </tr>
          </tbody>
      </table>
  </div>
</div>
<!--<input type="select">
                    <option valeur="appart">Apparetement</option>
                    <option valeur="garage">Garage</option>
                    <option valeur="parking">Parking</option>
                    <option valeur="ascenseur">Ascenseur</option>
                  </input>-->
                  