<h3>Add Lot</h3>
<div [hidden]="submitted" style="width: 400px;">
    <div class="col-md-9 colsm-6 col-xs-12">
    <form #f="ngForm" (ngSubmit)="Onsave(f.value)">

        <div class="form-group">
            <label for="name">Batiment</label>
            <input type="text" class="form-control" id="bat" ngModel required #batiment="ngModel" name="batiment">
        </div>

        <div class="form-group">
            <label for="name">Type</label>
            <!--<input type="text" >-->
            <input type="select"class="form-control" id="typelot" ngModel required #type="ngModel" name="type">
                    <option valeur="appart">Apparetement</option>
                    <option valeur="garage">Garage</option>
                    <option valeur="parking">Parking</option>
                    <option valeur="ascenseur">Ascenseur</option>
                 
        </div>

        <div class="form-group">
            <label for="name">Surface</label>
            <input type="text" class="form-control" id="surfacelot" ngModel required #surface ="ngModel" name="surface">
        </div>
        <div class="form-group">
            <label for="name">Porte</label>
            <input type="text" class="form-control" id="portelot" ngModel required #porte="ngModel" name="¨porte">
        </div>
        <div class="form-group">
            <label for="name">Etage</label>
            <input type="text" class="form-control" id="etagelot" ngModel required #etage="ngModel" name="¨etage">
        </div>
        <div class="form-group">
            <label for="name">Nbre_pieces</label>
            <input type="text" class="form-control" id="nbpieceslot" ngModel required #nbre_pieces="ngModel" name="nbre_pieces">
        </div>
        <div class="form-group">
            <label for="name">Commentaires</label>
            <textarea class="form-control" id="commentaireslot" ngModel required #commentaires="ngModel" name="commentaires"></textarea>
        </div>

        <button  class="btn btn-success">Submit</button>
    
</form>
   </div> 
</div>
